*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
    background-color: rgb(243, 227, 202);
}
.header{
    width: 100%;
    height: 3vh;
    padding: 0;
    position: relative;
    background: #020412;
}
nav{
    display: flex;
    align-items: center;
    min-height: 10vh;
    background-color: #5a37f3;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right:40px;
    cursor: pointer;
}
.logo{
    color: rgb(170, 168, 168);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    border-radius: 6px;
    border: 5px solid #24d3ff;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    color: rgb(241, 237, 237);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}
nav ul li a:hover{
    color: aqua;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
.text-box{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;

}
.text-box h1{
    
    font-size: 75px;
    line-height: 160px;
}
.text-box a{
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #24d3ff;
    color: #022730;
    padding: 10px 30px;
    text-decoration: none;
}
.text-box a:hover{
    cursor: pointer;
    color: rgb(228, 79, 136);
}
.text-box .btn{
    background: #24d3ff;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}
.me{
    display: flex;
    margin: 0;
    padding: 0;
    width: 540px;
    position: absolute;
    top: 25%;
    right: 8%;
    left: 55%;
    bottom: 0;
    border-radius: 50px;
    border: 3px solid #24d3ff;
}
.me .loader {
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
  }
  .text-box .option{
      margin-left: 15px;
      height: 60px;
      line-height: 90px;
      overflow: hidden;
  }
  .option li{
      padding: 0;
      margin: 0;
      list-style: none;
      color: blue;
      font-size: 60px;
      font-weight: 500;
      position: relative;
      top: 0;
      bottom: 0;
      animation: slide 12s steps(4) infinite;
  }
  @keyframes slide
  {
      100%
      {
          top: -360px;
      }
  }
  .option li span{
      position: relative;
      margin: 5px 0;
      width: 100px;
      line-height: 90px;
  }
  .option li span:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background: rgb(243, 227, 202);
      animation: typing 3s steps(11) infinite;
  }
  @keyframes typing
  {
      40%, 60% {
          left: calc(100%);
      }
      100% {
        left: 0;
      }
      
  }
  .text-box p{
      font-size: 25px;
  }
  
